:root {
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/Fonts/False.ttf?fileID=12800000&guid=07ea2196493900746a0f2368ed4d182b&type=3#False");
}

Button {
    margin-top: 0;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-image: url("project://database/Assets/UI%20Toolkit/Textures/cool_btn.png?fileID=2800000&guid=f299bf55f89787744ac95f8b60f2a629&type=3#cool_btn");
    -unity-background-scale-mode: scale-to-fit;
    background-size: 100% 125%;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    opacity: 0.95;
    transition-duration: 0.125s;
}

Button:focus {
    color: rgb(5, 5, 5);
    opacity: 1;
    translate: 0 0;
    scale: 1.025 1.025;
}

Button:hover {
    color: rgb(5, 5, 5);
    opacity: 1;
    translate: -3px -3px;
    scale: 1.025 1.025;
}
