:root {
    -unity-font-definition: url("project://database/Assets/Models/UI/Fonts/False.ttf?fileID=12800000&guid=07ea2196493900746a0f2368ed4d182b&type=3#False");
}

#UpperContainer {
    height: 55%;
    width: 100%;
    padding-bottom: 3%;
}

#LowerContainer {
    width: 100%;
    height: 25%;
    flex-grow: 1;
    padding-top: 2%;
}

#ButtonContainer {
}

Button {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    background-image: url("project://database/Assets/UI%20Toolkit/Textures/cool_btn.png?fileID=2800000&guid=f299bf55f89787744ac95f8b60f2a629&type=3#cool_btn");
    -unity-background-scale-mode: scale-to-fit;
    background-size: 100% 125%;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    opacity: 0.95;
    transition-duration: 0.125s;
    align-self: center;
    aspect-ratio: 6;
    width: 550px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    height: auto;
    font-size: 45px;
    margin-bottom: 10px;
}

Button:focus {
    color: rgb(5, 5, 5);
    opacity: 1;
    translate: 0 0;
    scale: 1.025 1.025;
}

Button:hover {
    color: rgb(5, 5, 5);
    opacity: 1;
    translate: -3px -3px;
    scale: 1.025 1.025;
}

Slider {
    align-self: center;
    height: 50px;
    margin-bottom: 20px;
}

Slider Label {
    font-size: 38px;
    margin-right: 0;
    position: relative;
    margin-right: 20px;
    width: 200px;
    -unity-text-align: middle-left;
    text-overflow: clip;
    color: rgb(28, 28, 28);
}

Slider #unity-drag-container {
    justify-content: center;
    width: 600px;
}

Slider #unity-tracker {
    background-color: rgba(0, 0, 0, 0.784);
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    top: auto;
}

Slider #unity-dragger {
    height: 100%;
    top: auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgba(39, 39, 39, 0.988);
    border-right-color: rgba(39, 39, 39, 0.988);
    border-top-color: rgba(39, 39, 39, 0.988);
    border-bottom-color: rgba(39, 39, 39, 0.988);
    width: 20px;
}

Slider #unity-dragger-border {
}

Slider:focus #unity-tracker {
    background-color: rgba(0, 0, 0, 0.941);
}

.largeTextLabel {
    -unity-text-align: upper-center;
    font-size: 80px;
    margin-bottom: 1%;
}

.timerEmphasized {
    width: 17%;
    height: auto;
    color: rgb(255, 255, 255);
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
}

.timerRegular {
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out-sine;
    color: rgb(255, 255, 255);
    width: 12.5%;
}

.timerFlash {
    color: rgb(170, 67, 67);
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
    width: 300px;
    height: auto;
}

.overlay {
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.325);
    background-image: none;
    visibility: hidden;
}

.scoreRegular .pointsText {
    font-size: 32.5px;
    color: rgba(255, 255, 255, 0.698);
    transition-timing-function: ease-in;
    transition-duration: 0.125s;
}

.scoreEmphasized .pointsText {
    color: rgb(255, 255, 255);
    font-size: 38px;
}

.scoreText {
    color: rgba(255, 255, 255, 0.835);
    font-size: 27.5px;
    transition-timing-function: ease-in;
    transition-duration: 0.125s;
}

.pointsText {
}
